/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0b9d5;
    margin: 0;
    display: flex;
    height: 100vh;
}


/* Container for the sidebar and main content */
.container {
    display: flex;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    width: 200px;
    background-color: #e7dee7;
    color: rgb(246, 135, 226);
    padding: 20px;
    box-sizing: border-box;
}

/* Remove default list styles and padding */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

/* Sidebar list item styling */
.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Icon styling for sidebar list items */
.sidebar ul li .icon {
    margin-right: 10px;
}

/* Highlighting effect for sidebar items on hover and for the highlighted item */
.sidebar ul li:hover,
.sidebar ul li.highlighted {
    background-color: #efeaef;
}

/* Main content styling */
.main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Heading styling */
h1 {
    margin-bottom: 20px;
}

/* Styling for input fields */
input[type="text"],
input[type="date"],
input[type="time"] {
    padding: 10px;
    width: calc(100% - 24px);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Styling for the Add Task button */
button {
    padding: 10px;
    width: 50%;
    background-color: #a7289a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for buttons */
button:hover {
    background-color: #218838;
}

/* Remove default list styles and padding for the task list */
ul {
    list-style-type: none;
    padding: 0;
}

/* Task list item styling */
li {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for task details */
li .task-details {
    flex-grow: 1;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

/* Task title styling */
li .task-details strong {
    display: block;
    font-size: 16px;
}

/* Container for due date and reminder boxes, aligned horizontally */
li .task-details .details-boxes {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

/* Styling for due date and reminder boxes */
li .task-details .date-box,
li .task-details .reminder-box {
    background-color: #ccd5d8;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 12px;
    color: #e410e4;
}

/* Styling for the delete button */
li button {
    background-color: #a7289a;
    border: none;
    color: white;
    padding: 10px 10px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 12px;
}

/* Hover effect for the delete button */
li button:hover {
    background-color: #c82333;
}
